<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./CssForHome.css">
</head>
<body>
    <%-include("nav.ejs")%>
    <div class="content">
        <h1>Life’s too short to watch bad movies <br> let us ruin it for you responsibly. </h1>
        <input type="button" value="Watch Movies">
    </div>
   
    <div class="marquee-container">
        <marquee direction="" behavior="alternate">
            <img src="./Image/stree.jpg" alt="" width="200px" height="200px">
            <img src="./Image/Spiderman.jpg" alt="" width="200px" height="200px">
            <img src="./Image/Jawan.jpg" alt="" width="200px" height="200px">
            <img src="./Image/stree2.jpg" alt="" width="200px" height="200px">
            <img src="./Image/Rocky Aur Rani Ki Pream Kahani.jpg" alt="" width="200px" height="200px">
            <img src="./Image/Chhaava.jpg" alt="" width="200px" height="200px">
            <img src="./Image/Bala.jpg" alt="" width="200px" height="200px">
            <img src="./Image/OMG 2.jpg" alt="" width="200px" height="200px">
            <img src="./Image/Bhooth Bangla.jpg" alt="" width="200px" height="200px">
            <img src="./Image/Black Adam.jpg" alt="" width="200px" height="200px">
            <img src="./Image/Housefull 5.jpg" alt="" width="200px" height="200px">
            <img src="./Image/munjya.jpg" alt="" width="200px" height="200px">
            <img src="./Image/pathaan.jpg" alt="" width="200px" height="200px">
            </marquee>
    </div>
</body>
</html>
