<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./CssForNav.css">
</head>
<body>
    <div class="container">
        <div class="firstNav">
            <img src="" alt="">
        </div>
        <div class="menu">
            <ul style="margin-left: 60px;">
                <li><a href="">Home</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">View Movie</a></li>
                <li><a href="">History</a></li>
                <li class="dropdown">
                    <a href="#">Genres</a>
                </li>
            </ul>
            <ul class="secondMenu">
                <li><a href="/getLogin">Login</a></li>
                <li><a href="/register">Sign up</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
